<p>Removes all tutorial pop-ups from chargen. Works with OpenMW and Morrowind.exe/MGE/MWSE.</p>
<div class="center">
  <a href="/img/nopopup-chargen.png"><img src="/img/nopopup-chargen.png" title="NoPopUp Chargen" /></a>
</div>
<h4 id="install">Installation:</h4>
<ol>
    <li>
     <p>
      Download the mod from <a href="https://modding-openmw.gitlab.io/nopopup-chargen/">this URL</a>
     </p>
    </li>
    <li>
     <p>
      Extract the zip to a location of your choosing, examples below:
     </p>
     <pre><code> # Windows
 C:\games\OpenMWMods\Chargen\nopopup-chargen

 # Linux
 /home/username/games/OpenMWMods/Chargen/nopopup-chargen

 # macOS
 /Users/username/games/OpenMWMods/Chargen/nopopup-chargen
</code></pre>
    </li>
    <li>
     <p>
      Add the appropriate data path to your <code>opemw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Chargen\nopopup-chargen"</code>)
     </p>
    </li>
    <li>
      <p>
        Add <code>content=nopopup-chargen.esp</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher
     </p>
    </li>
</ol>
